body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

section {
	z-index:10;
}

.closebutton {
	text-align: center;
}

.wrapper {
	height: 100%;
}

.main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: grey;
}

.main>section {
	position: absolute;
	width: 50%;
	height: 50%;
	cursor: pointer;

}
.main>section:first-child {
	top: 0;
	left: 0;
	background-color: #f06060;
}

.main>section:nth-child(2) {
	top: 0;
	left: 50%;
	background-color: #fa987d;
}

.main>section:nth-child(3) {
	top: 50%;
	left: 0;
	background-color: #72cca7;
}

.main>section:nth-child(4) {
	top: 50%;
	left: 50%;
	background-color: #10a296;
}

.content {
	padding: 50px;
	opacity:0;
	margin-top: -200px;
}

.expandeditem > section:not(.expanded) {
	opacity: 0;
}

.main>section.expanded {
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	z-index:11;

	img {
		z-index: 12;
	}
	.closebutton {
		z-index: 12;
	}
}

.label {
	margin-top: 25%;
	text-align: center;
}

section.expanded .content {
	opacity:1;
}

section.openpanel {
	opacity:0;
}

section.expanded .label {
	opacity:0;
}

li {
	display: inline-block;
}

.panel {
	height:100%;
	width:100%;
	position: absolute;
	opacity: 0;
	text-align: center;
	z-index: -1;
}

.show {
	opacity: 1;
	z-index:25;
}

.panel {
	background-color: #EE4444;
	padding-top: 50px;

	p {
		padding:25px;
	}
}
